---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import LandingFooter from '../components/LandingFooter.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Layout title="Product Startup | A Better Way to Build">
			<LandingHeader />
			<main>
				<Hero />
				<Features />
				<HowItWorks />
				<Testimonials />
			</main>
			<LandingFooter />
		</Layout>
		<Footer />
	</body>
</html>
